.todo {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.226);
  /* border: 2px solid black; */
  padding: 10px;
}

.addTodo {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.226);
  /* border: 2px solid black; */
  padding: 10px;

}